.profile{
  background: var(--bgDefault);
  color: #fff;
  z-index: 2;
}

.boxProfileImg{
  width: 100%;
  height: 280px;
  overflow: hidden;
  margin: var(--space);
  display: block;
}

.boxProfileImg::before{
  content: "JOTA";
  color: var(--mainColor);
  font-family: inherit;
  font-weight: var(--fwBolder);
  font-size: 4.5rem;
  position: absolute;
  top: 4rem;
  left: -30px;
  transform: rotate(-90deg);
  z-index: -1;
  display: block;
}

.boxProfileImg img{width: 100%;}

@media only screen and (min-width: 375px){
  .boxProfileImg::before{
    left: -40px;
    font-size: 5.5rem;
  }
}

@media only screen and (min-width: 411px){
  .boxProfileImg::before{left: -10px;}
}

@media only screen and (min-width: 768px){
  .profile .container.flex{align-items: flex-start;}

  .boxProfileImg{
    width: calc(50% - (var(--defaultSpace) * 3));
    height: 400px;
    margin: 0;
  }

  .boxProfileImg::before{
    font-size: 4.5rem;
    left: -30px;
  }

  .textProfile{width: 50%;}
}

@media only screen and (min-width: 1000px){
  .boxProfileImg{
    width: calc(50% - (var(--defaultSpace) * 5));
    height: 330px;
    position: relative;
  }

  .boxProfileImg::before{
    font-size: 6rem;
    left: -40px;
  }

  .boxProfileImg img{
    top: -10px;
    position: relative;
  }
}

@media only screen and (min-width: 1280px){
  .profile .container.flex{align-items: center;}

  .boxProfileImg{
    height: 400px;
    height: 300px;
  }

  .boxProfileImg::before{
    font-size: 6rem;
    left: 90px;
  }

  .boxProfileImg img{
    max-width: 400px;
    position: absolute;
    right: 0;
  }
}
