.testimonials{
  background: #f9f9f9;
  color: #111;
  z-index: 2;
}

.carousel{
  width: 100%;
  overflow: scroll;
  scroll-snap-type: x proximity;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: auto;
  position: relative;
  margin: 0 0 calc(var(--defaultSpace) * 5.5);
}

.carousel.flex{
  align-items: stretch;
  flex-wrap: nowrap;
  padding-bottom: 5px;
}

.card{
  width: 100%;
  margin: 0 calc(var(--defaultSpace) * 1.4) 0 0;
  position: relative;
  transition-timing-function: linear;
  overflow: visible;
  background: inherit;
}

.card div{
  width: 250px;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #44505a;
  padding: calc(var(--defaultSpace) * 1.4);
  border: solid 1px #8899a6;
  border-radius: 8px;
  position: relative;
}

.card div p{margin-bottom: calc(var(--defaultSpace) * 2.8);}
.card div p, .card div span{font-family: inherit;}

.card span{
  position: absolute;
  left: calc(var(--defaultSpace) * 1.4);
  bottom: calc(var(--defaultSpace) * 1.4);
  color: #8899a6;
}

.card span::after{
  content: url(../fonts/twitter.svg);
  width: 20px;
  position: absolute;
  top: -2px;
  right: -30px;
  filter: invert(55%) sepia(22%) saturate(5157%) hue-rotate(
  176deg
  ) brightness(97%) contrast(95%);
  display: block;
}

.card span.email::after{
  content: url(../fonts/email-black.svg);
  width: 20px;
  position: absolute;
  top: 0;
  right: -30px;
  filter: invert(22%) sepia(84%) saturate(3518%) hue-rotate(331deg) brightness(101%) contrast(101%);
  display: block;
}

@media only screen and (min-width: 1280px){
  .card{margin: 0 var(--defaultSpace) 0 0;}
  .card div{width: 340px;}
}

/* @media only screen and (min-width: 768px){
  .card img{width: 240px;}
} */
