.videoContainer{
  position: relative;
  z-index: 2;
  background: #fff;
}

.boxMainVideo{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.boxMainVideo iframe{
  width: 100%;
  height: 200px;
  margin-bottom: -8px;
}

.videoContainer.fixedVideo{
  max-width: 200px;
  /* display: none; */
  position: fixed;
  right: var(--defaultSpace);
  bottom: calc(var(--defaultSpace) * 6);
  z-index: 9999;
  background: transparent;

  animation: shw .5s;
  animation-fill-mode: both;
}

@keyframes shw{
  from{
    transform: scale(0.7);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes shw{
  from{
    transform: scale(0.7);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

@-moz-keyframes shw{
  from{
    transform: scale(0.7);
    opacity:0
  }
  to{
    transform: scale(1);
    opacity:1
  }
}

.videoContainer.fixedVideo iframe{max-height: 130px;}

.videoContainer.fixedVideo .boxMainVideo{margin: 0;}

@media only screen and (min-width: 470px){
  .boxMainVideo iframe{height: 240px;}
}

@media only screen and (min-width: 768px){
  .boxMainVideo::after{
    content: "";
    width: 100%;
    height: 120px;
    position: absolute;
    left: 0;
    bottom: 60px;
  }

  .boxMainVideo iframe{height: 410px;}
}

@media only screen and (min-width: 1000px){
  .videoContainer{padding: calc(var(--defaultSpace) * 2) 0;}

  .videoContainer.fixedVideo{
    max-width: 330px;
    bottom: calc(var(--defaultSpace) * 2);
    padding: 0;
  }

  .boxMainVideo iframe{
    height: 550px;
    border-radius: 10px;
  }

  .boxMainVideo iframe{
    height: 550px;
    border-radius: 10px;
  }

  .videoContainer.fixedVideo iframe{max-height: 180px;}
}

@media only screen and (min-width: 1440px){
  .boxMainVideo iframe{height: 680px;}
}
